<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombre: Wilker </p>
    <p>Apellido: Mora</p>
    <p>Cedula:28064278 </p>
    <p>Materia: Programacion</p>
    <p>secion: 4 </p>
  </body>
</html>
