<!DOCTYPE html>
<html>
    <head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7W0TEQNBM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7W0TEQNBM2');
</script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <title>Wilker J. Mora - CV</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        </style>
      </head>

  <body>

    <header class="banner">
      <div class="container_16">
        <figure>
          <img src="https://imgur.com/GPyijiT.png" alt="Wilker Mora Jimenez.">
        </figure>
        <hgroup>
          <h1 class="fadeInDown">Wilker Mora </h1>
          <h2 class="fadeInUp">Curriculum vitae</h2>
          <img id="cv" class="fadeInUp" src="https://i.imgur.com/GVUBi6u.png" alt="cv">
        </hgroup>
      </div>
    </header>

      <main>
        <section role="main" class="container_16">
          <div class="grid_16">
            <!-- About me -->
            <div class="grid_8 fadeInLeft">
              <img class="icon" src="https://i.imgur.com/8msw88z.png" alt="sobre mí">
              <h3>Sobre mí</h3>
              <p>Mi nombre es Wilker Mora y soy estudiante.</p>
              <p>Actualmente soy estudiante universtario. Me encuentro en un momento de Aprendizaje, si tienes un proyecto en mente que tenga que ver con la carrera que estudio (Ing. informatica) puedes contactarme, pondre todo mi esfuerzo en que el proyecto salga adelante. Seguro que juntos podremos lograr grandes cosas.</p><p>¡Un saludo!</p>
            </div>
        
            <!-- knowledge -->
            <div class="grid_8 knowledge fadeInRight">
              <img class="icon" src="https://i.imgur.com/x1sZUlS.png" alt="Conocimientos">
              <h3>Conocimientos</h3>
              <ul class="values">
                <li>HTML<span style="width:45%;"></span></li>
                <li>c++<span style="width: 40%;"></span></li>
                <li>Javascript<span style="width: 20%;"></span></li>
                <li>Economia<span style="width: 30%;"></span></li>
                <li>Gestion de empresa<span style="width: 50%;"></span></li>
              </ul>
            </div>
          </div>
        
          <!-- Experience -->
          <div class="grid_16 experiences appear">
             <img class="icon" src="https://i.imgur.com/gIXe1cf.png" alt="Experiencias">
             <h3>Experiencias</h3>
             <ul>
               <li>
                <h4><strong>comerciante</strong></h4>
                <span class="site">Freelance</span>
                <span class="date"></span>
                <p>Solo soy un estudiante.</p>
               </li>
             </ul>
             </div>
        
             <!-- Training -->
             <div class="grid_16 training appear">
             <img class="icon" src="https://i.imgur.com/mTJKfOj.png" alt="sobre mí">
             <h3>Formación</h3>
             <div class="formation1">
             <ul>
              <li>
                <h4><strong>Curso de ingles basico</strong></h4>
               
              <li>
                <h4><strong>Curso de Gestion de Empresa</strong></h4>

                <h4><strong>Tecnico Medio en Servicios y Promociones en Salud</strong></h4>

             </div>
           
              </section>

                 <!-- Information -->
                   <div class="grid_8 information fadeInUp">
                    <h3>Otros datos</h3>
                    <ul class="information">
                     <li>Facilidad para trabajar en equipo</li>
                     <li class="">Aprendizaje rápido en nuevas tecnologías</li>
                     <li class="">Disponibilidad</li>
                    </ul>
                   </div>

                   <div class="grid_8 socialmedia fadeInUp">
                    <h3>Social Media - Contactar</h3>
                    <div>
                      <a href=""><img class="social" src="https://imgur.com/FyuhhGf.png" alt="Email"></a>
                      <a href="#"><img class="social" src="https://imgur.com/ZvnZYqb.png" alt="Google+"></a>
                      <a href="#"><img class="social" src="https://imgur.com/kouWDG0.png"  alt="LinkedIn"></a>
                    </div>
                    <div>
                      <a href="#"><img class="social" src="https://imgur.com/PXBh6dj.png" alt="Twitter"></a>
                      <a href="#"><img class="social" src="https://imgur.com/jKIJuCJ.png" alt="Facebook"></a>
                      <a href="#"><img class="social" src="https://imgur.com/ePCHOOz.png" alt="Wordpress"></a>
                    </div>
                   </div>

                    
               <!-- FORMULARIO-->

             
                <script src="javascripts/captcha1.js"></script>
                <form class="formulario" id="formulario" action="/form-contacto" method="POST">

               <label for="nombre" class="nombre">Nombre</label>
               <input type="text" class="form-control" name="name" id="name" placeholder="Nombre">
      
               <label for="email" class="email">Email</label>
               <input type="email" class="form-control" name="email" id="email" placeholder="Email">
      
               <label for="exampleTextarea" class="mensaje">Mensaje</label>
               <textarea class="form-control" name="mensaje" id="mensaje" rows="7" placeholder="Escriba su mensaje aquí"></textarea>

               <button class="btn btn-primary" type="submit">Enviar</button>

               </form>
               <div class="g-recaptcha" data-sitekey="6LedLe4pAAAAAF6Mf_AM5gKF2fhsYCejrAhEaS1d" ></div>
               <script src="javascripts/captcha1.js"></script>
                </div>


                  </article>

               
          </section>
              
            
         </article>
        

       </main>   
    
  </body>
</html>