<!DOCTYPE html>
<html>
  <head>
    <title><%= %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=  %></h1>
    <p> <%= %></p>
  </body>
</html>
<!-- Header -->
<header class="banner">
  <div class="container_16">
    <figure>
      <img src="https://imgur.com/GPyijiT.png" alt="Wilker Mora Jimenez.">
    </figure>
    <hgroup>
      <h1 class="fadeInDown">Wilker Mora </h1>
      <h2 class="fadeInUp">Curriculum vitae</h2>
      <img id="cv" class="fadeInUp" src="https://i.imgur.com/GVUBi6u.png" alt="cv">
    </hgroup>
  </div>
</header>

<!-- Main section -->
<section role="main" class="container_16">
  <div class="grid_16">
    <!-- About me -->
    <div class="grid_8 fadeInLeft">
      <img class="icon" src="https://i.imgur.com/8msw88z.png" alt="sobre mí">
      <h3>Sobre mí</h3>
      <p>Mi nombre es Wilker Mora y soy estudiante.</p>
      <p>Actualmente soy estudiante universtario. Me encuentro en un momento de Aprendizaje, si tienes un proyecto en mente que tenga que ver con la carrera que estudio (Ing. informatica) puedes contactarme, pondre todo mi esfuerzo en que el proyecto salga adelante. Seguro que juntos podremos lograr grandes cosas.</p><p>¡Un saludo!</p>
    </div>

    <!-- knowledge -->
    <div class="grid_8 knowledge fadeInRight">
      <img class="icon" src="https://i.imgur.com/x1sZUlS.png" alt="Conocimientos">
      <h3>Conocimientos</h3>
      <ul class="values">
        <li>HTML<span style="width:45%;"></span></li>
        <li>c++<span style="width: 40%;"></span></li>
        <li>Javascript<span style="width: 20%;"></span></li>
        <li>Economia<span style="width: 30%;"></span></li>
        <li>Gestion de empresa<span style="width: 50%;"></span></li>
      </ul>
    </div>
  </div>

  <!-- Experience -->
  <div class="grid_16 experiences appear">
    <img class="icon" src="https://i.imgur.com/gIXe1cf.png" alt="Experiencias">
    <h3>Experiencias</h3>
    <ul>
       <li>
        <h4><strong>comerciante</strong></h4>
        <span class="site">Freelance</span>
        <span class="date"></span>
        <p>Solo soy un estudiante.</p>
      </li>
      <li>
  
      </li>
      <li>
       
      
      </li>
    </ul>
  </div>

  <!-- Training -->
  <div class="grid_16 training appear">
    <img class="icon" src="https://i.imgur.com/mTJKfOj.png" alt="sobre mí">
    <h3>Formación</h3>
    <div class="formation1">
    <ul>
      <li>
        <h4><strong>Curso de ingles basico</strong></h4>
       
      </li>
      <li>
        <h4><strong>Curso de Gestion de Empresa</strong></h4>
      
      </li>
      <li>
        <h4><strong>Tecnico Medio en Servicios y Promociones en Salud</strong></h4>
      
      </li>
    </ul>
    </div>
   
    <ul>
      <li>
       
      </li>
      <li>
     
      </li>
    </ul>
    </div>
  </div>

  <!-- Social Media -->
  <div class="grid_8 socialmedia fadeInUp">
    <img class="icon" src="https://i.imgur.com/mTJKfOj.png" alt="sobre mí">
    <h3>Social Media - Contactar</h3>
    <div>
      <a href="mailto:alojamientostenerife@gmail.com"><img class="social" src="https://imgur.com/FyuhhGf.png" alt="Email"></a>
      <a href="#"><img class="social" src="https://imgur.com/ZvnZYqb.png" alt="Google+"></a>
      <a href="#"><img class="social" src="https://imgur.com/kouWDG0.png"  alt="LinkedIn"></a>
    </div>
    <div>
      <a href="#"><img class="social" src="https://imgur.com/PXBh6dj.png" alt="Twitter"></a>
      <a href="#"><img class="social" src="https://imgur.com/jKIJuCJ.png" alt="Facebook"></a>
      <a href="#"><img class="social" src="https://imgur.com/ePCHOOz.png" alt="Wordpress"></a>
    </div>
  </div>
  
  <!-- Information -->
  <div class="grid_8 information fadeInUp">
    <img class="icon" src="https://i.imgur.com/1JUepNb.png" alt="Otros datos">
    <h3>Otros datos</h3>
    <ul class="information">
      <li>Facilidad para trabajar en equipo</li>
      <li class="">Aprendizaje rápido en nuevas tecnologías</li>
      <li class="">Disponibilidad</li>
    </ul>
  </div>
 
</section>